* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:focus {
  outline-color: $color-accent;
  outline-offset: 3px;
}

body {
  overflow-x: hidden;
}

h1 {
  color: $color-primary;
}

a,
a:visited {
  color: $color-primary;
}

a:hover,
a:focus {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
