*,
html, 
body {
  font-size: $base-font-size;
  font-style: normal;
  font-family: $base-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: $header-margin * 1.5;
  line-height: $header-line-height;
  font-weight: 700;
  font-family: $header-font-family;
}

h1 {
  color: $paragraph-color;
  margin-top: 0;
}

h2, h3, h4 {
  font-weight: 400;
}

h1 {
  font-size: $header-size / 1.5;
  margin-bottom: $header-margin;

  @media (min-width: $bp-large) {
    font-size: $header-size / 1.1;
  }
}

h2 {
  font-size: $header-size / 1.5;
  margin-bottom: $header-margin / 1.3;

  @media (min-width: $bp-large) {
    font-size: $header-size / 1.3;
  }
}

h3 {
  font-size: $header-size / 1.7;
  margin-bottom: $header-margin / 1.5;

  @media (min-width: $bp-large) {
    font-size: $header-size / 1.5;
  }
}

h4 {
  font-size: $header-size / 1.8;
  margin-bottom: $header-margin / 1.7;

  @media (min-width: $bp-large) {
    font-size: $header-size / 1.7;
  }
}

h5 {
  font-size: $header-size / 2;
  margin-bottom: $header-margin / 1.8;

  @media (min-width: $bp-large) {
    font-size: $header-size / 1.8;
  }
}

h6 {
  font-size: $header-size / 2;
  margin-bottom: $header-margin / 2;
}

p {
  margin-bottom: $paragraph-margin;
  font-size: $paragraph-size;
  line-height: $paragraph-line-height;
  color: $paragraph-color;

  word-wrap: break-word;
  overflow-wrap: break-word;

  &:last-of-type {
      margin-bottom: 0;
  }
}

a {
  color: $link-color;
  transition: all 0.2s ease;

  &:hover {
      color: darken($link-color, 20%);
  }
}

ul,
ol {
    margin: $paragraph-margin 0 0 1.25rem;

    li {
        margin-top: 0.625rem;
        line-height: $paragraph-line-height;
        color: $paragraph-color;
    }

    ul,
    ol {
        margin-top: 0;
    }
}

ul {

    li {
        list-style: disc;
    }

    ul {

        li {
            list-style: circle;
        }
    }
}

ol {

    li {
        list-style: decimal;
    }
}

hr {
  height: 1px;
  margin: $hr-margin 0;
  border: 0;
  background-color: $border-color;
}

blockquote {
  margin: $blockquote-margin 0;
  font-size: $blockquote-size;
  line-height: $blockquote-line-height;
  color: $blockquote-color;
  text-align: center;
  font-style: italic;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}
