.block-local-tasks-block nav {
  border-bottom: 3px solid $color-black;
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;

  ul {
    margin: 0;
  }

  li {
    background-color: $color-tertiary;

    &.is-active a {
      background-color: $color-white;
      border: 0;
      color: $color-black
    }
  }

  a {
    border: 3px solid $color-black;
    border-bottom: 0;
    color: $color-black;
    font-weight: 700;
    padding: 1rem;

    &:hover,
    &:focus {
      background-color: $color-tertiary;
    }
  }
}

.layout-builder-form button {
  border: 3px solid $color-black;
  border-bottom: 0;
  color: $color-black;
  font-weight: 700;
  padding: 1rem;

  &:hover,
  &:focus {
    background-color: $color-tertiary;
  }
}

.toolbar-menu a {
  font-weight: 400;
  color: initial;
}
