button,
.button,
.button:visited {
  background-color: $color-primary;
  border: 0;
  font-weight: 700;
  color: $color-white;
  padding: 1rem;
  margin-top: 1rem;
  display: inline-block;
  text-decoration: none;
  width: 100%;

  @media (min-width: $bp-small) {
    width: auto;
  }

  &:hover,
  &:focus {
    background-color: lighten($color-primary, 5%);
    color: $color-white;
  }
}
