.region-footer {
  background: #00578a;
  background: linear-gradient(0deg, rgba(0,87,138,1) 10%, rgba(0,0,0,0) 100%), url("/themes/custom/prds/images/footer-bg_lg.jpg") no-repeat center center; 
  background-size: cover;
  min-height: 400px;

  .menu--footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #E6E7E8;
    padding: 0 2rem;
  }
}