.path-frontpage h1 {
  @include sr-only;
}

.path-frontpage .layout-content {
  padding: 0;
}

.path-frontpage .layout--twocol-section {
  background: white;
  background: linear-gradient(90deg, rgba(255,255,255,1) 15%, rgba(0,212,255,0) 100%), url("/themes/custom/prds/images/nodes-bg.svg") no-repeat center right; 
  background-size: cover;
  min-height: 325px;

  align-items: center;

  > .layout__region {
    flex: 0 1 100%;

    @media (min-width: $bp-medium) {
      flex: 0 1 calc(50% - 1rem);
    }
  }

  .layout__region--second {
    display: none;

    @media (min-width: $bp-medium) {
      display: block;
    }
  }

  .layout__region--first,
  .layout__region--second {
    padding: 1rem;

    @media (min-width: $bp-medium) {
      padding: 2rem;
    }
  
    @media (min-width: $bp-large) {
      padding: 6.5rem 4rem;
    }
  }
}

.path-frontpage .layout--threecol-section {
  background-color: $color-tertiary;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: $bp-medium) {
    padding: 2rem 2rem;
  }

  @media (min-width: $bp-large) {
    padding: 2rem 4rem;
  }

  > .layout__region {
    flex: 0 1 100%;
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: $bp-medium) {
      flex: 0 1 calc(33% - 1rem);
      margin-bottom: 0;
    }
  }

  h2 {
    color: $color-secondary;
    font-size: $base-font-size * 1.3;
  }
}

.path-frontpage .layout--onecol .layout__region--content {
  padding-bottom: 0;

  .field--label-hidden {
    margin: 0;
  }

  h2 {
    margin: 1rem 0;
    padding: 0 1rem;

    @media (min-width: $bp-medium) {
      margin: 1rem auto 0;
      padding: 1rem 0 0;
      text-align: center;
    }
  }
}

.path-frontpage .layout--fourcol-section {
  padding: 0 1rem 1rem;
  background: white;
  min-height: 325px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: $bp-medium) {
    padding: 1rem;
  }

  @media (min-width: $bp-medium) {
    padding: 2rem 2rem;
  }

  @media (min-width: $bp-large) {
    padding: 2rem 4rem;
  }

  .layout__region {
    background: white;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: $bp-medium) {
      flex: 0 1 calc(50% - 1rem);
      margin-bottom: 0;
    }

    @media (min-width: $bp-large) {
      flex: 0 1 calc(25% - 1rem);
    }
  }

  h3 {
    background: $color-primary;
    color: $color-white;
    padding: 1rem;
    text-align: center;
    min-height: 98px;
    position: relative;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: $base-font-size * 1.3;
      font-weight: 700;
    }
  }

  ul {
    padding: 0 1rem 1rem;

    ul {
      padding: 0;
    }
  }

  li {
    list-style-image: url("/themes/custom/prds/images/cycle-bg.svg");
    line-height: 1.1;
    padding-bottom: 1rem;

    li {
      padding-bottom: 0;
      padding-top: 1rem;
    }
  }

  a,
  a:visited {
    text-decoration: none;
    color: $color-secondary;

    &:hover,
    &:focus {
      text-decoration: underline;
      color: $color-primary;
    }
  }
}

.more-link {
  text-align: left;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}