.region-header {
  box-shadow: 0 3px 8px 0 rgba(lighten($color-secondary, 50%), 0.1);
  border-bottom: 1px solid $border-color;
  background: $color-white;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding: 0 1rem 1rem;

  @media (min-width: $bp-medium) {
    position: relative;
    z-index: 9;
    justify-content: flex-start;
    padding: 0 1rem;
  }

  @media (min-width: $bp-large) {
    padding: 0 3rem;
  }

  .block-system-branding-block {
    position: relative;
    order: 1;

    @media (min-width: 1010px) {
      &::after {
        top: 50%;
        right: 0;
        height: 40px;
        content: " ";
        position: absolute;
        transform: translateY(-50%);
        border-left: 1px solid $border-color;
      }
    }
  }

  .block-responsive-menu,
  .responsive-menu-toggle {
    order: 2;

    @media (min-width: $bp-medium) {
      order: 3;
      flex-basis: 100%;
    }

    @media (min-width: 1010px) {
      order: 2;
      flex-basis: auto;
    }
  }

  .views-exposed-form {
    order: 3;
    position: relative;
    flex-basis: 100%;
    

    @media (min-width: $bp-medium) {
      margin-left: auto;
      
      padding: 0 1rem 0 1rem;
      order: 2;
      flex-basis: auto;
    }

    @media (min-width: 1010px) and (max-width: 1250px) {
      flex-basis: 100%;
      margin-bottom: 1rem;
    }

    @media (min-width: $bp-large) {
      order: 3;
    }
  }
}

.site-logo img {
  width: 200px;
  padding: 1rem;
  
  @media (min-width: $bp-medium) {
    width: 215px;
    margin-right: 1rem;
  }
}
