.page-node-type-knowledge-base .layout-content {
  padding: 0;
}

.block-menu.menu--main {
  padding: 2rem 0 2rem 4rem;

  ul {
    margin: 0;
  }

  li {
    list-style-type: none;
    list-style-image: none;
  }

  .menu-item a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-weight: 700;
    color: $color-secondary;

    &.is-active {
      background: $color-white;
      border: 1px solid $border-color;
      border-right: 0;
    }
  }

  .menu-item--collapsed {
    list-style-image: none;
  }

  .menu-item--expanded {
    ul {
      margin-left: 1rem;
    }

    ul a {
      font-weight: 400;
      font-size: $base-font-size * 0.875;
    }

    .menu-item {
      padding: 0;
    }
  }
}

.page-node-type-knowledge-base .layout__region--first {
  background: $color-tertiary;
  display: none;

  @media (min-width: $bp-medium) {
    display: block;
  }
}

.page-node-type-knowledge-base .layout__region--second {
  padding: 1rem;

  @media (min-width: $bp-medium) {
    padding: 2rem 4rem;
  }
}

.page-node-type-knowledge-base .field--name-body {
  ul {
    margin: 0 0 2rem 4rem;
  }

  p {
    margin-bottom: 2rem;
  }
}