.menu--main {
  display: block;
  
  .menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1rem;
    margin: 0;
    height: 100%;
  
    .menu-item {
      list-style-type: none;
  
      a {
        padding: 2.3rem 1.5rem;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.1rem;
        border-bottom: 3px solid transparent;

        &:hover,
        &:focus {
          color: #1a1a1a;
        }
  
        &.is-active {
          border-color: $link-color;
        }
      }
    }
  }
}
