main {
  background: $color-white;
  min-height: calc(100vh - 275px);
}

.layout-content {
  padding: 1rem;

  @media (min-width: $bp-medium) {
    padding: 2rem 2rem;
  }

  @media (min-width: $bp-large) {
    padding: 2rem 4rem;
  }
}

.page-node-type-page .layout-content {
  background: white;
  background: linear-gradient(60deg, rgba(255,255,255,1) 45%, rgba(255,255,255,0) 100%), url("/themes/custom/prds/images/nodes-bg.svg") no-repeat; 
  background-size: 1440px 1000px;
  background-position: right -500px top -200px;
}

.page-node-type-page .layout--onecol {
  margin-bottom: 2rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.page-node-type-page .field--name-body {
  ul {
    margin: 0 0 2rem 4rem;
  }

  p {
    margin-bottom: 2rem;
  }
}

.node__content .media.align-left {
  float: none;

  @media (min-width: $bp-medium) {
    padding: 0 2rem 2rem 0;
    float: left;
  }
}

.node__content .media.align-right {
  float: none;

  @media (min-width: $bp-medium) {
    padding: 0 0 2rem 2rem;
    float: right;
  }
}

.prds-staff-list .prds-media {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  border-bottom: 1px solid $border-color;
  margin-bottom: 2rem;

  @media(min-width: $bp-medium) {
    padding-bottom: 2rem;
  }

  &:last-child {
    border: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  h3 {
    margin: 0;
    color: $color-secondary;
  }
}

@media (min-width: $bp-medium) {
  .prds-media_text {
    flex: 1;
  }
}

  .prds-staff-title {
    font-weight: 700;
  }

  .prds-staff-email {
    margin: 1rem 0;
  }

.view-tools-and-resources .item-list-group ul {
  margin-left: 0;
}

.view-tools-and-resources li {
  list-style-type: none;
  margin: 0 0 1.5rem 0;
}

.view-tools-and-resources .views-field-title {
  font-weight: 700;
}

.field--label-above,
.field--label-hidden {
  margin-bottom: 1rem;
}
