.news--item {
  list-style-type: none;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  display: flex;
  overflow: hidden;

  img {
    width: 25%;
    height: auto;
    object-fit: cover;
  }
}

.news-copy {
  flex-basis: 75%;
  padding: 1rem;

  h3 {
    line-height: 1;

    a {
      text-decoration: none;
      color: #1a1a1a;
    }
  }

  p {
    font-size: 1rem;
  }
}
