.training--item {
  list-style-type: none;
  margin-left: 0;
  border: 1px solid rgba(0,0,0,0.1);
  margin-bottom: 1rem;
  background: $color-white;
  line-height: 1.4;
  display: flex;
  overflow: hidden;
  transition: box-shadow .3s;

  position:relative;

  &:hover,
  &:focus {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
}

.training-date {
  padding: 1rem;
  color: $color-primary;
  display: flex;
  flex-direction: column;

  .training-month {
    text-transform: uppercase;
    text-align: center;
  }

  .training-day {
    font-size: $base-font-size * 2;
    font-weight: 700;
    display: block;
    line-height: 1;
  }
}

.training-meta {
  flex-grow: 1;
  padding: 1rem;
  margin: 0;
  position: relative;

  &::after {
    top: 50%;
    left: 0;
    height: 40px;
    content: " ";
    position: absolute;
    transform: translateY(-50%);
    border-left: 1px solid $border-color;
  }

  h3 {
    margin: 0;
    line-height: 1;
    font-weight: 700;
  }

  a {
    text-decoration: none;
    color: $color-secondary;
    font-size: 16px;

    position: static;

    &::before {
      bottom: 0;
      content: "";
      display: block;
      left: 0;
      pointer-events: auto;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
    }
  }
}

.training-register {

  align-self: center;
  padding-right: 1rem;

  a,
  a:visited {
    padding: 1rem;
    background: $color-tertiary;
    color: $color-secondary;
    text-decoration: none;

    &:hover,
    &:focus {
      background: $color-primary;
      color: $color-white;
    }
  }
}

.block-views-blockevents-home-block-4 .view-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .training--item {
    margin-bottom: 1.5rem;
    width: 100%;

    @media (min-width: $bp-medium) {
      flex-basis: calc(50% - 32px);

      &:nth-child(odd) {
        margin-right: 0.75rem;
      }
  
      &:nth-child(even) {
        margin-left: 0.75rem;
      }
    }
  }
}

.field--name-body .program-activities {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;

  div {
    margin-bottom: 1rem;

    @media (min-width: $bp-medium) {
      flex-basis: 33%;
      text-align: center;
    }
  }

  h4 {
    color: $color-secondary;
  }

  ul {
    margin: 0;
  }

  li {
    list-style-type: none;
  }
}

h3.text-align-center {
  color: $color-secondary;
  text-align: left;

  @media (min-width: $bp-medium) {
    text-align: center;
  }
}